#canvas {
    font-size: 14px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#canvas pre {
    margin: 0;
    padding: 0;
}

#canvas ul {
    list-style-type: none;
    padding: 0;
}

#canvas li {
    padding: 0;
}

#canvas input {
    font: bold 14px Consolas, 'Courier New', Courier, Monaco, monospace;
    width: 700px;
    height: 14px;
    border: 0;
    outline: 0;
    background-color: aqua;
}